---
http_interactions:
- request:
    method: get
    uri: http://api.angel.co/1/startups/search.json?domain=visible.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 404 Not Found
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '974'
    body:
      encoding: US-ASCII
      string: ! '{"success":false,"error":{"type":"not_found","message":"The specified
        item could not be found."}}'
  recorded_at: Thu, 17 Oct 2013 16:45:40 GMT
recorded_with: VCR 2.6.0
